openapi: 3.1.0
info:
  title: Schubert Consulting Control Pilot Intake
  version: 0.1.0
  description: Public-safe schema for describing a candidate private AI control-system pilot.
servers:
  - url: https://ianschubert.com
paths:
  /pilot-intake:
    post:
      summary: Describe a candidate Schubert Consulting pilot
      description: This is a public planning schema, not a live production endpoint.
      operationId: createPilotIntake
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - company
                - system_boundary
                - current_pain
                - control_mode
              properties:
                company:
                  type: string
                contact_email:
                  type: string
                  format: email
                system_boundary:
                  type: string
                  examples:
                    - intake and dispatch across existing tools
                    - private agent tool registry
                    - command layer around an internal portal
                current_pain:
                  type: string
                existing_tools:
                  type: array
                  items:
                    type: string
                control_mode:
                  type: string
                  enum:
                    - read_only
                    - approval_gated_action
                    - operator_command_loop
                ownership_requirement:
                  type: string
                  examples:
                    - in-house build with company-owned runbooks, logs, and control policy
                safe_materials_available:
                  type: array
                  items:
                    type: string
                    enum:
                      - sanitized_examples
                      - screenshots
                      - docs
                      - diagrams
                      - sample_inputs
                      - sample_outputs
                      - sandbox_data
      responses:
        "200":
          description: Pilot intake accepted for review
          content:
            application/json:
              schema:
                type: object
                properties:
                  recommended_next_step:
                    type: string
                  expected_deliverables:
                    type: array
                    items:
                      type: string
